<!DOCTYPE html>
<html>
<head>
    <title>Real Time Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/username.css">
</head>
<body>
    <h1>Enter your Username and Email</h1>
    <form id="username-form">
        <input id="username" placeholder="Enter your username" autocomplete="off" required />
        <input id="email" type="email" placeholder="Enter your email" autocomplete="off" required />
        <button type="submit">Submit</button>
    </form>
    <script src="/js/username.js"></script>
</body>
</html>
